@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Global CSS */
@media (max-width: 1235px) {
    .sidebar {
      display: none;
    }
  }
  
  .sidebar {
    z-index: 30; /* Lower value */
  }
  
  .popup {
    z-index: 40; /* Higher value */
  }